/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #88888870;
    background-color: #0f0c029a;
    color: rgba(255, 94, 0, 0.692);
    font-size: 1.5rem;
  }

body {
  padding-left: 15;
  padding-right: 15;
}

img {
  width: 20%; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

body { 
  /* Set background image */
  background-image: url(../../img/coatlicue2.png);
  /* Adjust background properties */
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  background-color: rgba(0, 0, 0, 0.533);
  /* Add some styles to ensure the image covers the entire page */
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  font-size: large;
  font: bold;
  text-overflow: ellipsis  ;
}

h1 {
  font-size: 4rem;
  color: rgba(252, 0, 0, 0.797);
  background-color: rgba(0, 0, 0, 0.533);
}

h2 {
  color: rgba(248, 29, 29, 0.832);
}