/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #88888870;
    background-color: #f3d14a50;
  }

body {
  padding-left: 15;
  padding-right: 15;
}

img {
  width: 20%; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}

